/* Hero */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/andrew-ruiz-348421.jpg) no-repeat center center;
    background-size: 100% auto;
    padding: 240px 0px 240px 0px;
}

.hero .hero-content {
    text-align: center;
    color: var(--primary);
    margin: 0 120px;
}

.hero .hero-content h1 {
    font-size: 48px;
    font-weight: var(--ExtraBold);
}

.hero .hero-content h2 {
    font-size: 32px;
    font-weight: var(--Medium);
}

/* Cards */
.section {
    max-width: 1680px;
    margin: 0 auto;
}

.cards {
    margin: 60px 0px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cards a {
    text-decoration: none;
}

.card {
    height: 540px;
    width: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h3 {
    font-size: 48px;
    font-weight: var(--SemiBold);
    color: var(--primary);
    text-transform: uppercase;
}

#card-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/cards/exhibition-card.jpg);
}
#card-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/cards/explore-card.jpg);
}
#card-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/cards/visit-us-card.jpg);
}
#card-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/cards/about-us-card.jpg);
}