/* Visit Us */
.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
}

.flex .text {
    max-width: 600px;
}

.flex .text h2,
.flex .about-text h2 {
    font-size: 22px;
    font-weight: var(--SemiBold);
    margin-top: 40px;
}

.flex .text p,
.flex .text a,
.flex .about-text {
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary);
}

.flex img {
    max-width: 830px;
    margin: 40px 0 40px 0;
}


/* About Us */
.flex .about-img {
    max-width: 547px;
}

.flex .about-text {
    max-width: 750px;
}

.flex .about-text h2 {
    font-weight: var(--Bold);
    font-size: 28px;
}


/* Transitions */
.flex {
    transition: 0.1s;
}


/*Media queries*/
@media only screen and (max-width: 1300px) {

    .flex .text,
    .flex img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1480px) {
    .flex {
        flex-wrap: wrap;
        gap: 0px;
    }
}

@media only screen and (max-width: 620px) {
    .flex .about-img {
        max-width: 100%;
    }
}